<div fxLayout="row"
     *ngIf="comments.length > 1"
     [ngClass]="{'search-container' : !scroll, 'search-container-fixed' : scroll}"
     (window:scroll)="checkScroll()"
     fxLayoutAlign="center">
  <button id="filter-close-button"
          mat-icon-button
          class="searchBarButton"
          *ngIf="currentFilter !== ''"
          (click)="filterComments('');"
          aria-labelledby="close_filter">
    <mat-icon class="searchBarIcon">close</mat-icon>
  </button>
  <mat-label *ngIf="deviceType === 'desktop'"
             fxLayoutAlign="center center">
    <mat-icon class="search-icon">search</mat-icon>
  </mat-label>
  <input (focus)="eventService.makeFocusOnInputTrue()"
         (blur)="eventService.makeFocusOnInputFalse()"
         #searchBox
         id="searchBox"
         [ngClass]="{'desktop-input': deviceType === 'desktop',
   'mobile-input': deviceType === 'mobile' && !search, 'mobile-input-2': deviceType === 'mobile' && search }"
         (input)="searchComments()"
         [(ngModel)]="searchInput"
         [placeholder]="searchPlaceholder"
         aria-labelledby="search-box-input-description">
  <button id="search_close-button"
          mat-icon-button
          class="searchBarButton close"
          *ngIf="searchInput !== '' || search"
          (click)="hideCommentsList=false; searchInput = ''; search = false; searchPlaceholder = '';"
          aria-labelledby="close_search">
    <mat-icon>close</mat-icon>
  </button>

  <div class="button-bar"
       fxLayoutAlign="center center">
    <div *ngIf="comments && commentsFilteredByTime.length > 0">
      <h3 class="counter"
          *ngIf="!hideCommentsList">{{commentsFilteredByTime.length}}</h3>
      <h3 class="counter-filtered"
          *ngIf="filteredComments && hideCommentsList">{{filteredComments.length}}</h3>
    </div>

    <button mat-icon-button
            class="searchBarButton"
            (click)="activateSearch(); filterComments('')"
            *ngIf="deviceType === 'mobile' && !search && comments && comments.length > 0">
      <mat-icon class="searchBarIcon">search</mat-icon>
    </button>

    <button id="sort-button"
            mat-icon-button
            class="searchBarButton"
            aria-labelledby="swap_vert"
            *ngIf="!searchBox.value && comments && comments.length > 0 && !search"
            [matMenuTriggerFor]="sortMenu"
            matTooltip="{{ 'comment-list.sort-comments' | translate }}">
      <mat-icon class="searchBarIcon">swap_vert</mat-icon>
    </button>

    <button id="filter-button"
            mat-icon-button
            class="searchBarButton"
            aria-labelledby="filter_list"
            *ngIf="!searchBox.value && comments && comments.length > 0 && !search"
            [matMenuTriggerFor]="filterMenu"
            [ngClass]="{'active-filter': hideCommentsList}"
            matTooltip="{{ 'comment-list.filter-comments' | translate }}">
      <mat-icon class="searchBarIcon">filter_list</mat-icon>
    </button>

    <button id="time-button"
            mat-icon-button
            class="searchBarButton"
            aria-labelledby="time_settings"
            *ngIf="!searchBox.value && comments && comments.length > 0 && !search"
            [matMenuTriggerFor]="timeMenu"
            [ngClass]="{'active-filter': period !== 'time-all'}"
            matTooltip="{{ 'comment-list.select-time' | translate }}">
      <mat-icon class="searchBarIcon">history</mat-icon>
    </button>

    <button id="pause-comments"
            mat-icon-button
            aria-labelledby="pause"
            class="freezeButton"
            *ngIf="!searchBox.value && !search && !freeze"
            (click)="pauseCommentStream()"
            matTooltip="{{ 'comment-list.pause-comments' | translate }}">
      <mat-icon class="freezeIcon">pause</mat-icon>
    </button>

    <button id="play-comments"
            mat-icon-button
            aria-labelledby="play"
            class="freezeButton"
            *ngIf="!searchBox.value && !search && freeze"
            (click)="playCommentStream()"
            matTooltip="{{ 'comment-list.play-comments' | translate }}">
      <mat-icon class="playIcon">play_arrow</mat-icon>
    </button>

  </div>

  <mat-menu #timeMenu="matMenu"
            xPosition="before">
    <div *ngFor="let periodItem of periodsList">
      <button mat-menu-item
              (click)="setTimePeriod(periodItem)"
              class="period"
              [ngClass]="{'selected': periodItem === period}"
              aria-labelledby="{{periodItem}}">
        <span>{{ ('comment-list.select-' + periodItem) | translate }}</span>
      </button>
    </div>
  </mat-menu>

  <mat-menu #sortMenu="matMenu"
            xPosition="before">

    <button mat-menu-item
            (click)="sortComments(time)"
            aria-labelledby="access_time">
      <mat-icon [ngClass]="{time: 'timesort'}[currentSort]">update</mat-icon>
      <span [ngClass]="{time: 'timesort'}[currentSort]">{{ 'comment-list.sort-list-time' | translate }}</span>
    </button>

    <button mat-menu-item
            (click)="sortComments(votedesc)"
            aria-labelledby="keyboard_arrow_up">
      <mat-icon [ngClass]="{votedesc: 'up'}[currentSort]">keyboard_arrow_up</mat-icon>
      <span [ngClass]="{votedesc: 'up'}[currentSort]">{{ 'comment-list.sort-vote-asc' | translate }}</span>
    </button>

    <button mat-menu-item
            (click)="sortComments(voteasc)"
            aria-labelledby="keyboard_arrow_down">
      <mat-icon [ngClass]="{voteasc: 'down'}[currentSort]">keyboard_arrow_down</mat-icon>
      <span [ngClass]="{voteasc: 'down'}[currentSort]">{{ 'comment-list.sort-vote-desc' | translate }}</span>
    </button>

  </mat-menu>

  <mat-menu #filterMenu="matMenu"
            xPosition="before">
    <div>

      <button mat-menu-item
              (click)="filterComments(favorite)"
              aria-labelledby="grade">
        <mat-icon class="star"
                  [ngClass]="{favorite: 'favorite-icon'}[currentFilter]">grade
        </mat-icon>
        <span [ngClass]="{favorite: 'favorite-icon'}[currentFilter]">{{ 'comment-list.filter-favorite' | translate }}</span>
      </button>

      <button mat-menu-item
              (click)="filterComments(bookmark)"
              aria-labelledby="bookmark">
        <mat-icon class="bookmark"
                  [ngClass]="{bookmark: 'bookmark-icon'}[currentFilter]">bookmark
        </mat-icon>
        <span [ngClass]="{bookmark: 'bookmark-icon'}[currentFilter]">{{ 'comment-list.filter-bookmark' | translate }}</span>
      </button>

      <button mat-menu-item
              (focus)="hideCommentsList=true"
              (click)="filterComments(answer)"
              aria-labelledby="comment">
        <mat-icon class="answer"
                  [ngClass]="{answer: 'answered-icon'}[currentFilter]">comment
        </mat-icon>
        <span [ngClass]="{answer: 'answered-icon'}[currentFilter]">{{ 'comment-list.filter-answered' | translate }}</span>
      </button>

      <button mat-menu-item
              (focus)="hideCommentsList=true"
              (click)="filterComments(owner)"
              aria-labelledby="comment">
        <mat-icon [ngClass]="{owner: 'owner-icon'}[currentFilter]">person_pin_circle</mat-icon>
        <span [ngClass]="{owner: 'owner-icon'}[currentFilter]">{{ 'comment-list.filter-owner' | translate }}</span>
      </button>

      <button mat-menu-item
              *ngIf="userRole !== 3"
              (click)="filterComments(lecturer)"
              aria-labelledby="lecturer">
        <mat-icon class="lecturer"
                  [ngClass]="{lecturer: 'lecturer-icon'}[currentFilter]">school
        </mat-icon>
        <span [ngClass]="{lecturer: 'lecturer-icon'}[currentFilter]">{{ 'comment-list.filter-lecturer' | translate }}</span>
      </button>

      <button mat-menu-item
              (click)="filterComments(moderator)"
              aria-labelledby="moderator">
        <mat-icon class="moderator"
                  [ngClass]="{moderator: 'moderator-icon'}[currentFilter]">gavel
        </mat-icon>
        <span [ngClass]="{moderator: 'moderator-icon'}[currentFilter]">{{ 'comment-list.filter-moderator' | translate }}</span>
      </button>


      <button mat-menu-item
              (focus)="hideCommentsList=false"
              (click)="sortComments(currentSort); filterComments('')"
              aria-labelledby="close">
        <mat-icon>close</mat-icon>
        <span>{{ 'comment-list.filter-reset' | translate }}</span>
      </button>

    </div>
  </mat-menu>
</div>

<button mat-fab
        mat-icon-button
        class="scrollTop"
        [ngClass]="{'visible': isScrollButtonVisible()}"
        (click)="AppComponent.scrollTop()">
  <mat-icon>arrow_upward</mat-icon>
</button>

<button mat-fab
        mat-icon-button
        aria-labelledby="add"
        class="fab_add_comment"
        (click)="openCreateDialog()"
        matTooltip="{{ 'comment-list.add-comment' | translate }}">
  <mat-icon>add</mat-icon>
</button>

<div *ngIf="!isLoading">
  <app-comment *ngFor="let current of hideCommentsList ? filteredComments : commentsFilteredByTime"
               [comment]="current"
               [parseVote]="getVote(current)"
               [userRole]="userRole"
               [moderator]="false"
               [user]="user"
               (clickedOnTag)="clickedOnTag($event)"
               (clickedUserNumber)="clickedUserNumber($event)">
  </app-comment>

</div>
<!-- No Questions Present -->
<div *ngIf="comments && (commentsFilteredByTime.length < 1 && period === 'time-all' || comments.length === 0) && !isLoading"
     fxLayout="row"
     fxLayoutAlign="center center"
     class="no-comments">
  <p class="oldtypo-p">{{ 'comment-page.no-comments' | translate }}</p>
</div>

<div *ngIf="(filteredComments && filteredComments.length === 0 && hideCommentsList)
            || (comments && commentsFilteredByTime.length === 0 && period !== 'time-all') && !isLoading && comments.length > 0"
     fxLayout="row"
     fxLayoutAlign="center center"
     class="no-comments">
  <p class="oldtypo-p">{{ (search ? 'comment-page.no-comments-with-search' : 'comment-page.no-comments-with-filter') | translate }}</p>
</div>

<!--Hidden Div's for a11y-Descriptions-->
<div class="visually-hidden">
  <div id="search-box-input-description">
    {{ 'comment-page.search-box-input-description' | translate }}
  </div>
  <div id="swap_vert">{{'comment-list.a11y-swap_vert' | translate}}</div>
  <div id="keyboard_arrow_up">{{'comment-list.a11y-keyboard_arrow_up' | translate}}</div>
  <div id="keyboard_arrow_down">{{'comment-list.a11y-keyboard_arrow_down' | translate}}</div>
  <div id="access_time">{{'comment-list.a11y-access_time' | translate}}</div>
  <div id="filter_list">{{'comment-list.a11y-filter_list' | translate}}</div>
  <div id="check_circle">{{'comment-list.a11y-check_circle' | translate}}</div>
  <div id="not_interested">{{'comment-list.a11y-not_interested' | translate}}</div>
  <div id="grade">{{'comment-list.a11y-grade' | translate}}</div>
  <div id="moderator">{{'comment-list.a11y-moderator' | translate}}</div>
  <div id="lecturer">{{'comment-list.a11y-lecturer' | translate}}</div>
  <div id="bookmark">{{'comment-list.a11y-bookmark' | translate}}</div>
  <div id="beamer_icon">{{'comment-list.a11y-beamer_icon' | translate}}</div>
  <div id="close">{{'comment-list.a11y-close' | translate}}</div>
  <div id="add">{{'comment-list.a11y-add' | translate}}</div>
  <div id="pause">{{'comment-list.a11y-pause' | translate}}</div>
  <div id="play">{{'comment-list.a11y-play' | translate}}</div>
  <div id="close_search">{{'comment-list.a11y-close_search' | translate}}</div>
  <div id="new-comment">{{ 'comment-page.new-comment' | translate:{comment: newestComment} }}</div>
  <div id="select-time">{{ 'comment-list.a11y-select-time' | translate }}</div>
  <div id="select-time-1h">{{ 'comment-list.a11y-select-time-1h' | translate }}</div>
  <div id="select-time-3h">{{ 'comment-list.a11y-select-time-3h' | translate }}</div>
  <div id="select-time-1d">{{ 'comment-list.a11y-select-time-1d' | translate }}</div>
  <div id="select-time-1w">{{ 'comment-list.a11y-select-time-1w' | translate }}</div>
  <div id="select-time-all">{{ 'comment-list.a11y-select-time-all' | translate }}</div>
</div>
